body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff; /* Set a background color */
    color: #000; /* Ensure text is visible */
    margin: 0;
    padding: 0;
  }
  
@media (max-width: 600px) {
  .hide-xs { display: none !important; }
  .show-xs { display: inline !important; }
}
@media (min-width: 600px) {
  .hide-xs { display: inline !important; }
  .show-xs { display: none !important; }
}
  